<div class="mcqconainer">
  <div>
    <div class=" container mt-sm-5 my-1">
      <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. what is the capital of India?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label  class="options">Mumbai<input (click)="newSellection('1')" type="radio" name="radio" > <span class="checkmark"></span> </label> 
                <label  class="options">Chennai<input (click)="newSellection('2')" type="radio"name="radio"> <span class="checkmark"></span> </label> 
                <label  class="options">New Delhi<input (click)="newSellection('3')" type="radio" name="radio" > <span class="checkmark"></span> </label> 
                <label  class="options">Kolkata<input type="radio" (click)="newSellection('4')" name="radio" > <span class="checkmark"></span> </label> 
        </div>
      </div>
      <div class="d-flex align-items-center pt-3">
        <div class="ml-auto mr-sm-5"> <button (click)="getAnswer()" class="btn btn-success">Submit</button> </div>
      </div>
    </div>
  </div>
</div>
